.card{
    display: flex;
    justify-content: center;
    max-height: fit-content;
    min-height: 8em;
    max-width: fit-content;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(255, 30, 0, 0.646);
    margin: 2em auto;
    /* background-color:darkslateblue; */
    background-color:orange;
   
}
/* @media(min-width:700px){
    .card{
         background-color: orange;
    }
} */

.card.modal{
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
    animation: slideUp 1s cubic-bezier(0.68,-0.55,0.51,1.33);
}

.card.modal.show{
    animation: slideDown .7s cubic-bezier(0.68,-0.55,0.51,1.33);
    animation-fill-mode: forwards;
    z-index: 10;
}

@keyframes slideDown {
    from{
        top: -130%
    }
    to{
        top: 35%;
    }
} 

@keyframes slideUp {
    from{
        top: 35%;
    }
    to{
        top: -130%
    }
} 