.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-height: fit-content;
    min-height: 8em;
    /* max-width: fit-content; */
    /* width: 20em; */
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0px 2px 10px rgba(255, 30, 0, 0.646);
    margin: 2em auto;
    /* background-color:darkslateblue; */
    background-color:orange;
   
}

.card.addUser{
    width: 20em;
}

.card.modal{
    z-index: 10;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -130%);
}

.card .message{
    min-height: 1em ;
}

.card .warning{
    animation: blink 5s infinite;
    color: black;
}

@keyframes blink {
    5%{
        color: red;
    }
    10%{
        color:black
    }
    15%{
        color: red;
    }
    20%{
        color:black;
    }
    25%{
        color: red;
    }
    30%{
        color:black
    }
    100%{
        color: black;
    }

}

.card.modal.hidden{
    z-index: 10;
    top: -130%
}
.card.modal.show{
    animation: slideDown .7s cubic-bezier(0.68,-0.55,0.51,1.33);
    animation-fill-mode: forwards;
    z-index: 10;
}
.card.modal.hide{
    animation: slideUp 1s cubic-bezier(0.68,-0.55,0.51,1.33);
    animation-fill-mode: forwards;
    z-index: 10;
}

@keyframes slideDown {
    from{
        top: -130%
    }
    to{
        top: 40%;
    }
} 

@keyframes slideUp {
    from{
        top: 40%;
    }
    to{
        top: -130%
    }
} 